/* Start Variables */

:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-text: #666;
  --Main-padding: 100px;
  --main-transition: 0.3s;
  --main-background: #ececec;
}
/* End Variables */
/* Start Global Rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  width: fit-content;
  padding: 10px 20px;
  margin: 0 auto 80px;
  font-size: 30px;
  text-transform: uppercase;
  border: 2px solid black;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}

.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

.spikes {
  position: relative;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  /* background-color: red; */
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}

.dots {
  background-image: url(../images/dots.png);
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}

@media (max-width: 767px) {
  .dots {
    display: none;
  }
}

.dots-up {
  top: 200px;
  right: 0;
}

.dots-down {
  bottom: 0;
  left: 0;
}

/* End Global Rules */
/* Start Components  */

.main-heading {
  text-align: center;
}

.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}

.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}

.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}

.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  line-height: 2;
  max-width: 100%;
  color: var(--secondary-text);
}

/* End Components  */
/* Start Header */

header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

header .logo {
  color: var(--main-color);
  font-weight: bold;
  font-size: 26px;
  height: 73.6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  header .logo {
    width: 100%;
    height: 50px;
  }
}

header .main-nav {
  display: flex;
}

@media (max-width: 767px) {
  header .main-nav {
    margin: auto;
  }
}

header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}

header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73.6px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  transition: var(--main-transition);
}

@media (max-width: 767px) {
  header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}

header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}

header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}

header .main-nav > li > a:hover::before {
  left: 0;
}

header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 20px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width: 767px) {
  header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}

header .mega-menu .image img {
  max-width: 100%;
}

@media (max-width: 991px) {
  header .mega-menu .image {
    display: none;
  }
}

header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}

header .mega-menu .links li {
  position: relative;
}

header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
  header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}

header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  background-color: #e9e6e6;
  z-index: -1;
  transition: var(--main-transition);
}

header .mega-menu .links li:hover::before {
  width: 100%;
}

header .mega-menu .links li a {
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}

header .mega-menu .links li a i {
  margin-right: 10px;
}

/* End Header */
/* Start Landing */

.landing {
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  min-height: calc(100vh - 73.6px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.landing .text {
  flex: 1;
}

@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}

.landing .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}

@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}

.landing .text p {
  font-size: 22px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: var(--main-text);
  max-width: 500px;
}

@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}

@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}

.landing .image img {
  position: relative;
  width: 600px;
  animation: up-and-daowwn 5s linear infinite;
}

@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}

.landing .go-down {
  color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}

.landing .go-down:hover {
  color: var(--main-color-alt);
}

.landing .go-down i {
  animation: bouncing 1.5s infinite;
}

/* End Landing */
/* Start Articles */

.articles {
  padding-top: var(--Main-padding);
  padding-bottom: var(--Main-padding);
  position: relative;
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.articles .box {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}

.articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.articles .box img {
  max-width: 100%;
}

.articles .box .content {
  padding: 20px;
}

.articles .box .content h3 {
  margin: 0;
}

.articles .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: var(--main-text);
}

.articles .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
}

.articles .box .info i {
  color: var(--main-color);
}

.articles .box:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
}

/* End Articles */
/* Start Gallery */

.gallery {
  padding-top: var(--Main-padding);
  padding-bottom: var(--Main-padding);
  background-color: var(--main-background);
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.gallery .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0/ 13%), 0px 2px 4px 0px rgb(0 0 0/ 12%);
}

.gallery .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}

.gallery .box .image:hover::before {
  animation: flashing 0.7s;
}

.gallery .box img {
  max-width: 100%;
  transition: var(--main-transition);
}

.gallery .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}

/* End Gallery */
/* Start Features */

.features {
  padding-top: var(--Main-padding);
  padding-bottom: var(--Main-padding);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  background-color: white;
}

.features .container .box {
  text-align: center;
  border: 1px solid #ccc;
}

.features .container .box .img-holder {
  position: relative;
  overflow: hidden;
}

.features .container .box .img-holder::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.features .container .box .img-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}

.features .container .box:hover .img-holder::after {
  border-width: 170px 500px 170px 0px;
}

.features .container .box .img-holder img {
  max-width: 100%;
}

.features .container .box h2 {
  font-size: 40px;
  font-weight: bold;
  margin: auto;
  width: fit-content;
  position: relative;
}

.features .container .box h2::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 15px;
  height: 5px;
  width: calc(100% - 30px);
  background-color: red;
}

.features .container .box p {
  padding: 25px;
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  color: var(--main-text);
}

.features .container .box a {
  text-decoration: none;
  border: 3px solid transparent;
  padding: 10px 30px;
  width: fit-content;
  margin: 0 auto 30px;
  display: block;
  font-size: 22px;
  font-weight: bold;
  border-radius: 6px;
  transition: var(--main-transition);
}

.features .quality .img-holder::before {
  content: "";
  background-color: rgb(244 64 54 / 60%);
}

.features .container .quality h2::after {
  background-color: #f44036;
}

.features .container .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .time .img-holder::before {
  content: "";
  background-color: rgb(0 150 136 / 60%);
}

.features .container .time h2::after {
  background-color: #009688;
}

.features .container .time a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .passion .img-holder::before {
  content: "";
  background-color: rgb(3 169 244 / 60%);
}

.features .container .passion h2::after {
  background-color: #03a9f4;
}

.features .container .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .box:hover a {
  background-position: left bottom;
  color: white;
}

/* End Features */
/* Start Testimonials */

.testimonials {
  padding-top: var(--Main-padding);
  padding-bottom: var(--Main-padding);
  background-color: var(--main-background);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .container .box {
  background-color: white;
  position: relative;
  padding: 20px;
  box-shadow: 0 2px 4px rgb(0 0 0/ 7%);
  border-radius: 6px;
}

.testimonials .container .box img {
  position: absolute;
  top: -50px;
  right: -10px;
  width: 100px;
  border-radius: 50%;
  border: 10px solid var(--main-background);
}

.testimonials .container .box h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 10px;
}

.testimonials .container .box p {
  line-height: 1.5;
  color: var(--main-text);
  margin-bottom: 10px;
  margin-top: 10px;
}

.testimonials .container .box .filled {
  color: #ffc107;
}

/* End Testimonials */
/* Start Team */

.team {
  padding-top: var(--Main-padding);
  padding-bottom: var(--Main-padding);
  background-color: white;
  position: relative;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.team .container .box {
  position: relative;
}

.team .container .box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 60px);
  height: 100%;
  border-radius: 10px;
  background-color: #f3f3f3;
  z-index: 0;
}

.team .container .box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  border-radius: 10px;
  background-color: #e4e4e4;
  z-index: 1;
  transition: var(--main-transition);
}

.team .container .box:hover::after {
  width: calc(100% - 60px);
}

.team .container .box .images {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 60px;
}
.team .container .box .images img {
  width: calc(100% - 60px);
  border-radius: 10px;
  z-index: 2;
  transition: var(--main-transition);
}

.team .container .box:hover img {
  filter: grayscale(100%);
}

.team .container .box .images .links {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 2;
}

.team .container .box .images .links a {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
}

.team .container .box .images .links a:hover i {
  color: var(--main-color);
}

.team .container .box .links i {
  color: #777;
  transition: var(--main-transition);
}

.team .container .box .text {
  padding-left: 80px;
}

.team .container .box .text h3 {
  color: var(--main-color);
  font-weight: bold;
  margin-top: 20px;
  position: relative;
  z-index: 2;
  transition: var(--main-transition);
}

.team .container .box:hover h3 {
  color: #777;
}

.team .container .box .text P {
  font-weight: 300;
  position: relative;
  z-index: 2;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 25px;
}

/* End Team */
/* Start Services */

.services {
  padding-top: var(--Main-padding);
  padding-bottom: var(--Main-padding);
  background-color: var(--main-background);
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.services .container .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0/ 13%), 0 2px 4px 0 rgb(0 0 0/ 12%);
  counter-increment: services;
  transition: var(--main-transition);
  position: relative;
}

.services .container .box:hover {
  transform: translateY(-10px);
}

.services .container .box::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  top: -3px;
  background-color: var(--main-color);
  width: 0;
  transition: var(--main-transition);
}

.services .container .box:hover::before {
  width: 100%;
}

.services .container .box i {
  margin: 20px auto 10px;
  display: block;
  color: #d5d5d5;
  text-align: center;
}

.services .container .box h3 {
  color: var(--main-color);
  margin: 20px 0 20px;
  font-size: 25px;
  text-align: center;
}

.services .container .box .info {
  padding: 15px;
  position: relative;
  background-color: #f9f9f9;
  text-align: right;
}

.services .container .box .info::before {
  content: "0" counter(services);
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  background-color: var(--main-color);
  color: white;
  padding-right: 15px;
}

.services .container .box .info::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  top: 0;
  left: 80px;
  width: 50px;
  height: calc(100% + 0.4px);
  transform: skewX(-30deg);
}

.services .container .box .info a {
  text-decoration: none;
  color: var(--main-color);
}

/* End Services */
/* Start Skills */

.skills {
  padding-top: var(--Main-padding);
  padding-bottom: var(--Main-padding);
  background-color: white;
}

.skills .container {
  display: flex;
  align-items: center;
}

.skills .container .box {
  flex: 1;
  padding: 10px;
}

.skills .container .image {
  transition: var(--main-transition);
}

.skills .container .image:hover {
  filter: grayscale(100%);
}

.skills .container .box .lang {
  position: relative;
}
.skills .container .box .lang h4 {
  display: block;
  font-weight: bold;
  margin: 20px 0;
}

.skills .container .box .lang span:not(.the-progress span) {
  position: absolute;
  width: 35px;
  text-align: right;
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 3px 5px;
  color: var(--main-color);
  background-color: white;
  bottom: 35px;
  right: 0;
}

.skills .container .box .lang .the-progress span {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--main-color);
}

@media (max-width: 991px) {
  .skills .container .image {
    display: none;
  }
}

.skills .container .box .lang .the-progress {
  background-color: #eee;
  height: 30px;
  position: relative;
  /* width: 80vw; */
}

/* End Skills */
/* Start Work-steps */

.work-steps {
  padding-top: var(--Main-padding);
  padding-bottom: var(--Main-padding);
  background-color: var(--main-background);
}

.work-steps .container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
  }
}

.work-steps .container .image {
  margin: 10px auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.work-steps .container .image img {
  margin-right: 100px;
  max-width: 100%;
}

@media (max-width: 991px) {
  .work-steps .container .image img {
    margin-right: auto;
    margin-left: auto;
  }
}
.work-steps .container .content .box {
  background-color: #f6f5f5;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 3px solid white;
  position: relative;
}

.work-steps .container .content .box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: rgba(202, 193, 193, 0.2);
  top: 50%;
  left: 50%;
  transition: var(--main-transition);
}

.work-steps .container .content .box:hover::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.work-steps .container .content .box .text,
.work-steps .container .image img {
  position: relative;
}

@media (min-width: 767px) {
  .work-steps .container .content .box {
    display: flex;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .work-steps .container .content .box {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.work-steps .container .content .box img {
  width: 70px;
  margin: 20px;
}

@media (max-width: 767px) {
  .work-steps .container .content .box img {
    margin: 10px 0 5px 0;
  }
}

.work-steps .container .content .box h3 {
  font-weight: bold;
  margin: 20px 10px 10px;
}

.work-steps .container .content .box p {
  color: var(--main-text);
  line-height: 2;
  padding: 10px;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .work-steps .container .content .box p,
  .work-steps .container .content .box h3 {
    margin: 10px 10px 5px;
    padding: 10px 20px 10px;
  }
}

/* End Work-steps */
/* Start Events */

.events {
  padding-top: var(--Main-padding);
  padding-bottom: var(--Main-padding);
  position: relative;
}

.events .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.events img {
  max-width: 400px;
}

@media (max-width: 991px) {
  .events img {
    display: none;
  }
}

.events .info {
  flex: 1;
}

.events .info .time {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  gap: 10px;
}

.events .info .time .unit {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  text-align: center;
  width: 75px;
  transition: var(--main-transition);
}

.events .info .time .unit:hover,
.events .info .time .unit:hover span:last-child {
  border-color: var(--main-color);
}

.events .info .time .unit span:first-of-type {
  display: block;
  font-size: 35px;
  font-weight: bold;
  padding: 15px;
  color: var(--main-color);
}

.events .info .time .unit span:last-of-type {
  display: block;
  padding: 8px 10px;
  font-size: 12px;
  border-top: 1px solid #d4d4d4;
  transition: var(--main-transition);
}

.events .title {
  text-align: center;
  margin: 40px 0 0;
  font-size: 30px;
  font-weight: bold;
}

.events .description {
  text-align: center;
  line-height: 1.7;
  font-size: 19px;
  color: var(--main-text);
  margin-top: 20px;
}

.events .subscribe {
  width: 100%;
  margin-top: 50px;
}

.events .subscribe form {
  width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: flex;
  gap: 20px;
}

@media (max-width: 767px) {
  .events .subscribe form {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    border-radius: 0;
  }
}

.events .subscribe form input[type="email"] {
  padding: 20px;
  border-radius: 50px;
  border: none;
  flex: 1;
  caret-color: var(--main-color);
}

@media (max-width: 767px) {
  .events .subscribe form input[type="email"] {
    border-radius: 0;
  }
}

.events .subscribe form input[type="email"]:focus {
  outline: none;
}

.events .subscribe form input[type="email"]::placeholder {
  transition: opacity var(--main-transition);
}

.events .subscribe form input[type="email"]:focus::placeholder {
  opacity: 0;
}

.events .subscribe form input[type="submit"] {
  border-radius: 50px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  padding: 0 20px;
  transition: var(--main-transition);
}

@media (max-width: 767px) {
  .events .subscribe form input[type="submit"] {
    border-radius: 0;
    /* width: 150px; */
    height: 80px;
  }
}

.events .subscribe form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}

/* End Events */
/* Start Pricing */

.pricing {
  padding-top: var(--Main-padding);
  padding-bottom: var(--Main-padding);
  background-color: var(--main-background);
  position: relative;
}

.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.pricing .container .box {
  background-color: white;
  position: relative;
  text-align: center;
  z-index: 1;
  box-shadow: 0 12px 20px 0 rgb(0 0 0/ 13%), 0 2px 4px 0 rgb(0 0 0/ 12%);
}

.pricing .container .box::before,
.pricing .container .box::after {
  content: "";
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  position: absolute;
  z-index: -1;
  transition: var(--main-transition);
}

.pricing .container .box::before {
  top: 0;
  left: 0;
}

.pricing .container .box::after {
  bottom: 0;
  right: 0;
}

.pricing .container .box:hover::before,
.pricing .container .box:hover::after {
  width: 100%;
}

@media (min-width: 1200px) {
  .pricing .popular {
    top: -20px;
  }
}

.pricing .popular .label {
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 10px 40px 10px;
  position: relative;
  top: 0;
  left: 85%;
  width: 40px;
  margin-bottom: -150px;
}

.pricing .popular .label::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: white;
  right: 0;
  bottom: 0;
  border: 19px solid white;
  border-color: #2196f3 #2196f3 white #2196f3;
}

.pricing .container .box .title {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin: 30px 0;
}

.pricing .container .box img {
  width: 80px;
}

.pricing .container .box .price .amount {
  color: var(--main-color);
  font-size: 60px;
  font-weight: bold;
  font-family: serif;
  display: block;
  margin-top: 30px;
}

.pricing .container .box .price .time {
  color: var(--main-text);
  font-size: 14px;
  margin-top: 20px;
}

.pricing .container .box .price .title {
  color: var(--main-text);
  font-size: 12px;
}

.pricing .container .box .price ul {
  margin-top: 30px;
  margin-bottom: 30px;
}

.pricing .container .box .price ul li {
  font-size: 20px;
  margin-top: 20px;
  border-top: 1px solid #eee;
  text-align: left;
  padding: 20px 0 0 50px;
  position: relative;
}

.pricing .container .box .price ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}

.pricing .container .box .price a {
  display: block;
  text-decoration: none;
  width: fit-content;
  margin: 30px auto 40px;
  border: 3px solid var(--main-color);
  color: var(--main-color);
  border-radius: 6px;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 20px;
  transition: var(--main-transition);
}

.pricing .container .box a:hover {
  background-color: var(--main-color-alt);
  color: white;
  border-color: var(--main-color-alt);
}

/* End Pricing */
/* Start Videos */

.videos {
  padding-top: var(--Main-padding);
  padding-bottom: var(--Main-padding);
  background-color: white;
  position: relative;
}

.videos .container {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr;
}

.videos .container .box {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eee;
  margin: 20px auto;
}

@media (max-width: 991px) {
  .videos .container .box {
    flex-direction: column;
  }
}

.videos .container .box .top-videos {
  display: flex;
  flex-direction: column;
}

.videos .container .box .top-videos h3 {
  background-color: #f4f4f4;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.videos .container .box .top-videos ul {
  min-width: 300px;
}

.videos .container .top-videos li {
  padding-left: 20px;
  background-color: white;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  margin-top: 10px;
}

.videos .container .top-videos li:hover {
  background-color: #fafafa;
  color: var(--main-color);
}

.videos .container .box .top-videos span {
  display: block;
  margin-top: 10px;
  color: #777;
}

.videos .container .box .main-video {
  background-color: #e2e2e2;
  padding: 10px;
}

.videos .container .box .main-video video {
  height: 500px;
}

.videos .container .box .main-video .info {
  margin-top: 20px;
  background-color: white;
  padding: 10px;
}

/* End Videos */
/* Start Stats */

.stats {
  padding-top: var(--Main-padding);
  padding-bottom: var(--Main-padding);
  position: relative;
  background-color: var(--main-background);
  /* content: url(../images/stats.jpg); */
  background-size: cover;
  min-height: 300px;
}

.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
}

.stats h2 {
  margin: 30px auto;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  position: relative;
}

.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  position: relative;
}

.stats .box {
  background-color: white;
  padding: 30px 15px;
  text-align: center;
  position: relative;
  opacity: 0.5;
  transition: var(--main-transition);
  text-align: center;
}

.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--main-color);
  transition: 1s;
  height: 0;
}

.stats .box::before {
  top: 0;
  right: 0;
}

.stats .box::after {
  bottom: 0;
  left: 0;
}

.stats .box:hover {
  opacity: 1;
}

.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}

.stats .box .number {
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
}

.stats .box .text {
  color: black;
  font-style: bold;
}

/* End Stats */
/* Start Discount */

.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
}

.discount .image {
  background-image: url(../images/discount-background1.jpg);
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: 20px;
  animation: change-background 10s linear infinite;
}

.discount .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}

@media (max-width: 991px) {
  .discount .image {
    flex-basis: 100%;
    height: 100%;
  }
}

.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding: 30px 0;
}

@media (max-width: 991px) {
  .discount .form {
    flex-basis: 100%;
  }
}

.discount .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}

.discount .form textarea.input {
  resize: none;
  height: 200px;
}

.discount .form .input:focus {
  outline: none;
}

.discount .form [type="submit"] {
  background-color: var(--main-color);
  color: white;
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}

.discount .form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}

.discount .content {
  text-align: center;
  padding: 0 20px;
}

.discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}

.discount .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}

.discount .content img {
  width: 300px;
  max-width: 100%; /* if mobile screen less than 300px */
}

/* End Discount */
/* Start Footer */

.footer {
  padding-top: 70px 0 0;
  background-color: #191919;
  color: white;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

.footer .container {
  padding-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.footer .box h3 {
  font-size: 50px;
  margin: 0 0 20px;
  font-weight: bold;
}

.footer .box .social {
  display: flex;
}

@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 35px;
  transition: var(--main-transition);
}

.footer .box .social .facebook:hover {
  background-color: #1877f2;
}

.footer .box .social .twitter:hover {
  background-color: #1da1f2;
}

.footer .box .social .youtube:hover {
  background-color: #ff0000;
}

.footer .box .text {
  line-height: 1.7;
  color: #b9b9b9;
  margin: 20px 0 0;
}

.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}

.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}

.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}

.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}

.footer .box .links li:hover {
  padding-left: 10px;
}

.footer .box .links li:hover a {
  color: white;
}

.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}

.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}

.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}

.footer .box .line span {
  display: block;
}

.footer .footer-gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  gap: 5px;
}

.footer .footer-gallery img {
  max-width: 100%;
  border: 5px solid white;
}

.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}

/* End Footer */
/* Start Animation */

@keyframes up-and-daowwn {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-10px);
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}

@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

@keyframes change-background {
  0%,
  100% {
    background-image: url(../images/discount-background1.jpg);
  }
  50% {
    background-image: url(../images/discount-background2.jpg);
  }
}
/* End Animation */
